h1{
 text-transform: uppercase;
    text-align: center;
} 
#to{
    margin-top: 33px;
}
.T{
    margin-left: 19px;
}
#r{
    margin-top: 33px;
}
#p{
    margin-left: 85px;
}
 
#d{
    margin-top: 66px;
}
